<header class="navbar">
  <section class="navbar-section">
    <a href="#/" class="navbar-brand mr-2">JSONRPC-Sample</a>
  </section>
  <section class="navbar-section">
    <div class="dropdown">
      <a href="#" class="btn btn-link dropdown-toggle" tabindex="0">
        <raw>wecty.Text(c.UserName)</raw> <i class="icon icon-caret"></i>
      </a>
      <!-- menu component -->
      <ul class="menu">
        <li>
          <a href="#" @click="{{c.OnClickLogout}}">
            <i class="icon icon-shutdown"></i> Logout
          </a>
        </li>
      </ul>
    </div>
  </section>
</header>
